<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body>
    <h1>welecome to bdpa 2025 </h1> 
    <h2>my name is malachi </h2>
    <p>this page will be an intro to the HSCC PROGRAM BROV -BY DUCKYTECH2011</p>
    <h2>Hyperlinks</h2>
    <ul>
      <li>BDPA National <a href="http://www.bpda.org">link </a> </li>
      <li>BDPA National <a href="http://www.bpda.org">link </a> </li>
      <li>BDPA National <a href="http://www.bpda.org">link </a> </li>
      <li>BDPA history <a  href="/bdpahistory">LIST</a></li><h1>

     <img src="images/bdpalogo.png":height 30;>
    <br>
         <h class="01"></h>
    <li>founders of bdpa:</li>
   <li>first chapter(s):</li>
   <li>first bdpa confrencer</li>
   <li>first hscc year and venue:</li>
   <li>most recent venue and winner of hscc:atlanta and atlanta</li>
   <li>current National president and vp:vp rosmary smith </li>
   <li>current chapter president and vp</li>

    </h1>
    </ol>
  </body>
</html>
