<!DOCTYPE html>
<html>
  <%- include('./partials/head') -%>

  <body>
      <!-- Include navigation menu -->
      <%- include('./partials/menu') -%>

    <h1>welecome to bdpa 2025 </h1> 
    <h2>my name is malachi </h2>
    <p>this page will be an intro to the HSCC PROGRAM BROV -BY DUCKYTECH2011</p>
    <h2>Hyperlinks</h2>
    <ul><li><a href="/">home/a></li>
      <li>BDPA National <a href="http://www.bpda.org">link </a> </li>
      <li>BDPA National <a href="http://www.bpda.org">link </a> </li>
      <li>BDPA National <a href="http://www.bpda.org">link </a> </li>
      <li>BDPA history <a href="/bdpahistory">LIST</a></li>



    </ul>
  </body>
</html>
