<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body>
    <h1>welecome to bdpa 2025 </h1> 
    <h2>my name is malachi </h2>
    <p>this page will be an intro to the HSCC PROGRAM BROV -BY DUCKYTECH2011</p>
    <h2>Hyperlinks</h2>
    <ul>a> href="http://www.bpda .org"><link rel="stylesheet" href=""> </a>
      <li>bdpa national<a href </li>




    </ul>
  </body>
</html>
